html {
  font-size: calc(100vw / 1440);

  @media (width <= $breakpoint-mob) {
    font-size: calc(100vw / 390);
  }

  @media (width >= $breakpoint-desktop-large) {
    font-size: 1px;
  }

  // hide scroll

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  // hide scroll
}

body {
  height: 100%;
  color: var(--white);
  background-color: var(--black);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

.wrapper {
  min-height: 100%;
}

main {
  position: relative;
  z-index: 2;
  background-color: var(--black);
}

.root{
  padding: 84rem 0 0;
  @media (width<= $breakpoint-mob) {
    padding: 45rem 0 0;
  }
}

.desk-view {
  @media (width<=$breakpoint-mob) {
    display: none;
  }
}

.mobile-view {
  display: none;
  @media (width<= $breakpoint-mob) {
    display: block;
  }
}

.swiper-free-mode > .swiper-wrapper{
  transition-timing-function : linear!important;
}

.gradient-slider{
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--black) 0%, rgb(255 255 255 / 0%) 20%, rgb(255 255 255 / 0%) 80%, var(--black) 100%);
    background-size: cover;
    content: '';
  }
}

.decor-star{
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 32rem;
    height: 32rem;
    opacity: 0.7;
    background-image: url("/icons/decor_star.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    content: '';

    @media (width <= $breakpoint-mob){
      width: 20rem;
      height: 20rem;
    }

    @keyframes rotate {
      0% {
        scale: 1;
        opacity: 0.7;
      }

      50% {
        scale: 1.1;
        opacity: 1;
      }

      100% {
        scale: 1;
        opacity: 0.7;
      }
    }
  }
}

.editor-content {
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    margin: 68rem 0 40rem;

    @media (width<= $breakpoint-mob) {
      margin: 64rem 0 34rem;
    }
  }

  p {
    margin: 15rem 0;

    @media (width<= $breakpoint-mob) {
      margin: 10rem 0;
    }
  }

  ul, ol {
    margin: 24rem 0;
  }

  ul {
    li {
      position: relative;
      margin: 10rem 0;
      font: var(--font-m);
      padding: 0 0 0 20rem;

      &::before {
        position: absolute;
        top: 7rem;
        left: 0;
        width: 10rem;
        height: 10rem;
        background-color: var(--white);
        border-radius: 50%;
        content: '';

        @media (width<= $breakpoint-mob) {
          top: 7rem;
          left: 5rem;
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }

  ol {
    counter-reset: ordered-list-counter;

    li {
      margin: 10rem 0;
      font: var(--font-m);
      counter-increment: ordered-list-counter;

      @media (width<= $breakpoint-mob) {
        position: relative;
        padding: 0 0 0 20rem;
        font-size: 14rem;
      }

      &::before {
        margin: 0 10rem 0 0;
        content: counter(ordered-list-counter) ".";

        @media (width<= $breakpoint-mob) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  a {
    display: block;
    color: var(--green);
    font: var(--font-m);
    transition: opacity var(--duration-hover) var(--ease);
    @media (width> $breakpoint-mob) {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.wrapper-class {
  padding: 30rem 0 50rem;

  @media (width<= $breakpoint-mob) {
    padding: 20rem 0 40rem;
  }
}
