// custom container
.base-container {
  position: relative;
  width: 100%;
  max-width: 1440rem;
  margin: 0 auto;

  &.small {
    padding: 0 64rem;
  }

  &.large {
    padding: 0 120rem;
  }

  @media (width <= $breakpoint-mob) {
    &.small {
      padding: 0 16rem;
    }

    &.large {
      padding: 0 16rem;
    }
  }
}