.text-gradient {
  background: linear-gradient(to right, var(--green), var(--green-light));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, .h1 {
  font: var(--font-h1);

  span {
    @extend .text-gradient;
  }
}

h2, .h2 {
  font: var(--font-h2);

  span {
    @extend .text-gradient;
  }
}

p {
  font: var(--font-s);

  span {
    @extend .text-gradient;
  }
}

a {
  font: var(--font-s);
  color: var(--white);
}