:root {
  // HEADINGS
  --font-h1: 700 88rem / 105% var(--font-family-primary);
  --font-h2: 700 32rem / 150% var(--font-family-primary);

  // BODY
  --font-m: 400 18rem / 130% var(--font-family-secondary);
  --font-m-v: 400 20rem / 120% var(--font-family-secondary);
  --font-m-bold: 700 18rem / 150% var(--font-family-secondary);
  --font-s: 400 16rem / 150% var(--font-family-secondary);
  --font-s-bold: 700 16rem / 150% var(--font-family-secondary);

  // OTHER
  --gradient: linear-gradient(90deg, rgba(155,240,103,1) 0%, rgba(34,242,214,1) 100%);
  --light-black: rgba(30, 32, 33, 0.4);

  // COLORS
  --white: #fff;
  --black: #0E1015;
  --black-faq: #15171F;
  --black-light: #14161A;
  --grey: #373737;
  --grey-light: #B2B2C1;
  --red: #FE4F05;
  --green: #9BF067;
  --green-light: #22F2D6;
  --secondary:  #3C2D2D;

  // BASE ANIMATIONS
  --ease: ease;
  --duration: 0.8s;
  --hover-delay: 0.4s;
}

@media (width <= $breakpoint-mob) {
  :root {
    // HEADINGS
    --font-h1: 700 55rem / 110% var(--font-family-primary);

    // BODY
    --font-m-v: 400 18rem / 120% var(--font-family-secondary);
    --font-m-bold: 700 18rem / 130% var(--font-family-secondary);
    --font-s: 400 16rem / 130% var(--font-family-secondary);
    --font-s-bold: 700 16rem / 130% var(--font-family-secondary);
  }
}
