@import '@/app/styles/variables/breakpoints';

.iconButton {
  position: relative;
  width: 434rem;
  padding: 32rem 40rem;
  font: var(--font-m-v);
  text-align: initial;
  border: 1rem solid var(--secondary);
  border-radius: 600rem;

  @media (width <= $breakpoint-mob) {
    width: 100%;
    padding: 23rem 24rem;
  }

  @media (width > $breakpoint-mob) {
    &:hover {
      .iconButton {
        &__logo {
          transform: rotateY(180deg) translateY(-50%);
        }
      }
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    right: 32rem;
    width: 40rem;
    height: 40rem;
    transform: translateY(-50%);
    transition: transform var(--duration) var(--ease);
    will-change: transform;
  }
}