@import '@/app/styles/variables/breakpoints';

.videoEditorsSlider {
  position: relative;
  margin: 40rem 0 250rem;
  padding: 200rem 0 0;

  @media (width <= $breakpoint-mob){
    margin: 16rem 0 64rem;
    padding: 98rem 0 0;
  }

  &::before{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider {
    height: 801rem;
    border-radius: 24rem;

    @media (width <= $breakpoint-mob){
      height: 834rem;
    }

    .slide {
      display: flex;
      background-color: var(--black-light);

      @media (width <= $breakpoint-mob){
        flex-direction: column;
        justify-content: center;
        padding: 13rem;
      }

      .column {
        flex: 0 1 50%;

        @media (width <= $breakpoint-mob){
          flex: initial;
        }
      }

      &__left {
        display: flex;
        align-items: center;
        padding: 0 0 0 64rem;

        @media (width <= $breakpoint-mob){
          order: 2;
          margin: 65rem 0 0;
          padding: 0;
        }

        &_content {
          padding: 0 0 10rem;

          .topic {
            font: var(--font-m-bold);
            font-size: 22rem;

            @media (width <= $breakpoint-mob){
              font: var(--font-s-bold);
            }
          }

          .text {
            max-width: 395rem;
            margin: 40rem 0 0;
            font: var(--font-m-v);

            @media (width <= $breakpoint-mob){
              margin: 30rem 0 0;
            }
          }

          .button {
            margin: 40rem 0 0;

            @media (width <= $breakpoint-mob){
              margin: 32rem 0 0;
            }
          }
        }
      }

      &__right {
        display: flex;
        align-items: center;

        @media (width <= $breakpoint-mob){
          position: relative;
          justify-content: center;
          order: 1;
        }

        .square {
          position: relative ;
          width: 315rem;
          height: 605rem;
          margin: 0 0 0 110rem;
          overflow: hidden;
          background: var(--gradient);
          border-radius: 48rem;

          @media (width <= $breakpoint-mob){
            width: 203rem;
            height: 400rem;
            margin: 0;
            border-radius: 26rem;
          }

          &__video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border: 5rem solid transparent;
            border-radius: 48rem;

            @media (width <= $breakpoint-mob){
              border-radius: 26rem;
            }
          }
        }
      }
    }
  }
}

.pagination {
  position: absolute;
  top: 50%;
  right: 40rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 6rem;
  transform: translateY(-50%);

  @media (width <= $breakpoint-mob){
    right: 24rem;
  }

  &__bullet {
    position: relative;
    width: 6rem;
    height: 23rem;
    margin: 0 0 9rem;
    background-image: url("/icons/empty_step.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    &::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/icons/step.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0;
      transition: opacity var(--duration) var(--ease);
      content: '';
    }

    &.active {
      &::before{
        opacity: 1;
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}