@import '@/app/styles/variables/breakpoints';

.demo {
  margin: 45rem 0 107rem;

  @media (width <= $breakpoint-mob) {
    margin: 0 0 40rem;
  }

  &__content {
    position: relative;

    &::before {
      position: absolute;
      top: -100rem;
      left: -300rem;
      z-index: -1;
      width: 1510rem;
      height: 1150rem;
      background-image: url("/images/gradients/gradient_demo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
      pointer-events: none;

      @media (width <= $breakpoint-mob) {
       display: none;
      }
    }

    &_text {
      position: relative;
      max-width: 380rem;
      margin: 0 auto 35rem;
      padding: 0 24rem;
      color: var(--grey-light);
      font: var(--font-m);
      text-align: center;

      @media (width <= $breakpoint-mob) {
        margin: 0 auto 11rem;
        padding: 0;
        text-align: initial;
      }

      &::before {
        position: absolute;
        right: 0;
        bottom: -6rem;
        width: 24rem;
        height: 24rem;
        background-image: url("/icons/enter.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24rem 24rem;
        content: '';
      }
    }

    .square {
      position: relative;
      height: 790rem;

      @media (width <= $breakpoint-mob) {
        height: 236rem;
      }
    }
  }
}