@import '@/app/styles/variables/breakpoints';

.demo{
  margin: 0 0 80rem;

  @media (width <= $breakpoint-mob) {
    margin: 0 0 40rem;
  }

  &__content{
    &_text{
      position: relative;
      max-width: 380rem;
      margin: 0 auto 40rem;
      padding: 0 24rem;
      color: var(--grey-light);
      font: var(--font-m);
      text-align: center;

      @media (width <= $breakpoint-mob) {
        margin: 0 auto 21rem;
      }

      &::before{
        position: absolute;
        right: 0;
        bottom: -6rem;
        width: 24rem;
        height: 24rem;
        background-image: url("/icons/enter.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24rem 24rem;
        content: '';
      }
    }

    &_square{
      position: relative;
      height: 776rem;
      background: linear-gradient(#000, #000) padding-box, var(--gradient) border-box;
      border: 5px solid transparent;
      border-radius: 32px;

      @media (width <= $breakpoint-mob) {
        height: 232rem;
        border: 3px solid transparent;
        border-radius: 12px;
      }

      &::before{
        position: absolute;
        top: -200rem;
        left: -300rem;
        z-index: -1;
        width: 1500rem;
        height: 1100rem;
        background-image: url("/images/demo/gradient_demo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        content: '';
        pointer-events: none;

        @media (width <= $breakpoint-mob) {
          top: -200rem;
          left: -100rem;
          width: 650rem;
          height: 500rem;
          background-image: url("/images/demo/gradient_demo_mob.png");
        }
      }
    }
  }
}