@import '@/app/styles/variables/breakpoints';

.hero{
  display: flex;
  align-items: center;
  min-height: calc(80vh - 84rem);

  @media (width <= $breakpoint-mob) {
    align-items: initial;
    min-height: initial;
    margin: 0 0 35rem;
    padding: 40rem 0 32rem;
  }

  &__content{
    display: flex;
    padding: 79rem 64rem 131rem;
    background-color: var(--light-black);
    border-radius: 24rem;

    @media (width <= $breakpoint-mob){
      flex-direction: column;
      padding: 0;
      background-color: initial;
    }

    &_left{
      flex: 1 0 669rem;

      @media (width <= $breakpoint-mob){
        flex: initial;
      }

      .title{
        @media (width <= $breakpoint-mob) {
          margin: 0 0 32rem;
        }
      }
    }

    &_right{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 58rem;
      padding: 30rem 0 0;
      text-align: center;

      @media (width <= $breakpoint-mob){
        align-items: flex-start;
        margin: 0;
        padding: 0;
        text-align: initial;
      }

      .image{
        width: 300rem;
        height: 90rem;
        margin: 0 0 10rem;

        @media (width <= $breakpoint-mob){
          order: 2;
          width: 180rem;
          height: 55rem;
          margin: 0 0 32rem;
        }
      }

      .text {
        margin: 20rem 0 0;
        font-size: 20rem;
        line-height: 130%;

        @media (width <= $breakpoint-mob) {
          font-size: 18rem;

          &.topDescription{
            order: 1;
            margin: 0 0 25rem;
          }

          &.bottomDescription{
            display: none;
          }
        }
      }

      .button{
        margin: 40rem 0 0;

        @media (width <= $breakpoint-mob) {
          order: 3;
          margin:0;
        }
      }
    }
  }
}