@import '@/app/styles/variables/breakpoints';

.hero{
  display: flex;
  align-items: center;
  min-height: calc(100vh - 84rem);

  @media (width <= $breakpoint-mob) {
    min-height: initial;
    padding: 65rem 0 88rem;
  }

  &__content{
    display: flex;
    padding: 79rem 64rem 131rem;
    background-color: var(--light-black);
    border-radius: 24rem;

    &_left{
      flex: 1 0 669rem;

      .title{
        margin: 0 0 39rem;

        @media (width <= $breakpoint-mob) {
          margin: 0 0 32rem;
        }
      }
    }

    &_right{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 58rem;
      text-align: center;

      .image{
        width: 300rem;
        height: 90rem;
        margin: 0 0 10rem;
      }

      p {
        margin: 20rem 0 0;
        font-size: 20rem;
        line-height: 130%;

        @media (width <= $breakpoint-mob) {
          font-size: 16rem;
        }
      }

      .button{
        margin: 40rem 0 0;

        @media (width <= $breakpoint-mob) {
          margin: 32rem 0 0;
        }
      }
    }
  }
}