@import '@/app/styles/variables/breakpoints';

.navigation{
  display: flex;
  margin: 0 50rem;

  @media (width<=$breakpoint-mob){
    flex-direction: column;
    margin: auto 0;
    padding: 42rem;
  }

  &__link{
    margin: 0 16rem;
    color: var(--grey-light);
    font: var(--font-s-bold);
    transition:color var(--duration) var(--ease);

    &.desktopHidden{
      @media (width>$breakpoint-mob){
        display: none;
      }
    }

    @media (width<=$breakpoint-mob){
      margin: 0 0 38rem;
      color: var(--white);
      font-size: 32rem;
    }

    @media (width>$breakpoint-mob) {
      &:hover {
        color: var(--green);
      }
    }
  }
}