.button{
  position: relative;
  display: inline-block;
  padding: 0 20rem 0 0;

  &__icon{
    position: absolute;
    top: 50%;
    right: 0;
    width: 17rem;
    height: 17rem;
    transform: translateY(-50%);
  }
}